body {
    background-color: #f2f2f2;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0086f3;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: #111;
}
body {
    background-image: url('download (3).jpg');
}
body {
    background-color: #6696e8;
    font-family: Gill Sans Ultra Bold;
    text-align: center;
    
}
main h1 {
    margin-top: 50px;
    font-family: Gill Sans Ultra Bold;
    font-size: 200px;
    font-weight: bold; 
    color: #FADB35; 
    -webkit-text-stroke: 2px #AD251B;
    text-align: center;
}
main h2 {
    font-family: Gill Sans Ultra Bold;
    font-size: 150px;
    font-weight: bold; 
    color: #FADB35;
    text-align: center;
}
/* Membuat background merah di belakang tulisan STORY */
  .story-bg {
    background-color: #E60000; /* Warna merah */
    padding: 5px 15px; /* Jarak antara teks dengan kotak merah */
    display: inline-block;
    transform: skewX(-10deg); /* Membuat kotak merah miring seperti di logo asli */
    border-radius: 5px; /* Membuat sudut sedikit melengkung */
  }
.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}
main {
    display: flex;
    justify-content: center; /* Menengahkan secara Horizontal */
    align-items: center;     /* Menengahkan secara Vertikal */
    min-height: calc(100vh - 50px); /* 50px diisi perkiraan tinggi nav kamu */
}
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Otomatis 4 kolom sama lebar */
    gap: 20px;                             /* Jarak antar kartu */
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;                        /* Agar container berada di tengah layar */
}
.container main{
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Otomatis 4 kolom sama lebar */
    gap: 20px;                             /* Jarak antar kartu */
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;   
    align-items: center; /* Menengahkan secara Vertikal */      }
.container last{
    display: grid;
    grid-template-columns: repeat(1, 4fr); /* Otomatis 4 kolom sama lebar */
    gap: 20px;                             /* Jarak antar kartu */
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;   }